body {
  /*padding: 20px;*/
  overflow: hidden;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}
div{
	
}
.thumbnail > img, .thumbnail a > img {
    width: 150px;
    height: 200px;
}

.list-item{
	display: inline-block;
    vertical-align: bottom;
    width: 200px;
    /*height: 292px;*/
    text-align: center; 
    margin-right: 20px;
    padding: 10px;
}

.details-preview{
    height: auto;
    overflow: auto;
}
.details-preview-image{
    margin: 0;
	min-width: 150px;
    /*max-width: 400px;*/
    width: 49%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: right;
    /*border: solid 1px lime;*/
}

.details-preview-image > img {
    width: 100%;
    max-width: 400px;
    /*height: 533px;*/
    margin-right: 30px;
    
}

.details-description{
    margin: 0px;
	min-width: 250px;
    width: 50%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    /*border: solid 1px red;*/
}
.calendar{
	
    height: 200px;
}
.items.list 
{

    text-align: center;
/*    height:100%;
    width:100%;
    overflow-y:scroll;
*/    /*white-space: nowrap;*/
}
.back-button{
    cursor:pointer;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #3498db; 
}

h1 > span{
font-family:Georgia,serif;
color:#666666;
font-size:30px;
line-height:1em;
margin:0px;
}