body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}
div{
	
}
.thumbnail > img, .thumbnail a > img {
    width: 150px;
    height: 200px;
}

.list-item{
	display: inline-block;
    vertical-align: bottom;
    width: 200px;
    text-align: center; 
    margin-right: 20px;
    padding: 10px;
}

.details-preview{

}
.details-preview-image{
	min-width: 450px;
    width: 46%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: right;
}

.details-preview-image > img {
    width: 400px;
    height: 533px;
    margin-right: 30px
}

.details-description{
	min-width: 450px;
    width: 46%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.calendar{
	
    height: 200px;
}
.items.list 
{
    text-align: center;
}

